.div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
} 
.hr{
   font-weight: bold;
   width: 100%;
   margin-top: 10px;
   margin-bottom: 10px;
}

 
